.pre_ingreso{
	.sidebar-bars{
		top:-3px;
		i{
			color: white;	
		}
	}
	.send-button{
		width: 30%;
		height: 30%;
		margin: 2%;
		margin-left: 12%;
	}
	.style-input-left{
		width: 37%;
		margin-left: 15px;
		float: left;
	}

	.style-input-right{
		width: 37%;
		margin-right: 20px;
		float: right;
	}

	.style-input-right-hour{
		width: 80%;
	}

	.style-input-right-diag{
		width: 100%;
	}

	.style-input-diag-test{
		width: 237%;
	}

	.style-input-div{
		width: 95%;
	}
	
	.style-font{
		width: 55%;
		font-family: 'MuseoSans-300';
		font-size: 35px;
		color: grey;
		margin-left: 33.5%;
		margin-top: 6px;
		margin-bottom: 20px;
	}

	.button-form {
  position: absolute !important;
  min-height: 30px !important;
  min-width: 32px !important;
  line-height: 31px !important;
  padding: 0px 6px !important;
  margin: 2px 5px !important;
}
	.button-form-diagnostico {
  position: absolute !important;
  min-height: 32px !important;
  min-width: 30px !important;
  line-height: 30px !important;
  padding: 0px 6px !important;
  margin: -30px 478px !important;
}

	.style-button-volver {
//color: grey !important;
background: grey !important;
}

	.style-font-check {
		width: 85%;
		font-family: 'MuseoSans-300';
		font-size: 20px;
		color: grey;
		margin-left: 20px;
		margin-top: 0px;
}
	.style-font-text {
		width: 100%;
		font-family: 'MuseoSans-300';
		font-size: 20px;
		color: grey;
		margin-left: 10px;
		margin-top: 0px;
}

	.style-font-text-red {
		width: 100%;
		font-family: 'MuseoSans-300';
		font-size: 15px;
		color: red;
		margin-left: 40px !important;
		margin-top: 0px;
}

	.style-font-text-persona {
		width: 100%;
		font-family: 'MuseoSans-300';
		font-size: 15px;
		color: grey;
		margin-left: 37px;
		margin-top: 0px;
}

	.style-div {
padding-bottom: 25px;
}

                .confirm {
                    padding-top: 1em;
                }

                .invalid {
                    color: red;
                }

                #fieldlist li input[type="checkbox"] {
                    margin: 0 5px 0 0;
                }

                .k-tooltip-validation .k-warning {
                    display: none;
                }

}
